@import "../theme/theme";

.Header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 60px;
    width: 100%;

    padding: 0 10px;

    font-family: $logo-font;
    font-size: 24px;
    font-weight: bold;
    color: $on-secondary;
    text-transform: uppercase;

    background: $header;

    cursor: pointer;
  }

  .title {
    margin-top: 5px;
  }

  .subtitle {
    color: black;
    font-family: $core-font;
    font-size: 16px;
    font-weight: normal;
    float: right;
  }

  @media only screen and (max-width: 767px) {
    .Header {
      height: 40px;
      font-size: 20px;
    }
    .subtitle {
      font-size: 10px;
    }
  }

  svg {
    text-align: center;
    margin-right: 0.5em;
    margin-left: 0.4em;
    width: 40px;
    height: 40px;
  }

  @-webkit-keyframes storking {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes storking {
    to {
      stroke-dashoffset: 0;
    }
  }

  #icon-charge .charging {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: storking;
    animation-name: storking;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }