@import "../theme/theme";

.Layout {
    flex: 1;
    display: flex;
    flex-direction: column;
  
    width: 100%;
  
    .Content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 100%;
    
        background: $secondary;
        color: $on-secondary;
        font-family: $core-font;
    
        a {
          color: inherit;
        }
    }

    .cards {
      .card-placement {
        width: 100%;
        margin: 10px;
      }

      .ui.grid {
        margin-top: .75em;
        margin-bottom: .75em;
      }
      
      .columns {
        margin-left: -.75rem;
        margin-right: -.75rem;
        margin-top: -.75rem;
      }
      
      .ui.card {
        margin-left: 1em;
        padding: .75rem;
      }

      .meta {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        height: 40px;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }
  }