@import "../theme/theme";

.Layout {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  
    width: 100%;
  
    .Content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 100%;
    
        background: $secondary;
        color: $on-secondary;
        font-family: $core-font;
    
        a {
          color: inherit;
        }
    }

    .cards {
      .card-placement {
        width: 100%;
        margin: 1em;
      }

      .ui.grid {
        width: 70%;
        margin-top: .75em;
        margin-bottom: .75em;
        padding: 0 2em;
      }

      @media only screen and (max-width: 767px) {
        /* For mobile phones: */
        .ui.grid {
          width: 100%;
        }
      }

      @media only screen and (max-width: 1200px) {
        /* For Large SCreens: */
        .ui.grid {
          width: 90%;
        }
      }

      @media only screen and (min-width: 1201px) {
        /* For Large SCreens: */
        .ui.grid {
          width: 75%;
        }
      }
      
      .columns {
        margin-left: -.75rem;
        margin-right: -.75rem;
        margin-top: -.75rem;
      }
      
      @media only screen and (max-width: 600px) {
        /* For mobile phones: */
        .ui.card {
          margin-right: .5em;
          padding: .5rem;
        }
      }

      .meta {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        height: 40px;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }
  }