.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1em;
}

.title {
  font-size: 4em; font-weight: normal; margin-bottom: 0px; margin-top: 3em;
}

.sub-title {
  font-size: 1.7em; font-weight: normal; margin-top: 1.5em;
}

.float-right {
  float: right;
}

/* .footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
} */

.App-link {
  color: #61dafb;
}

.card-placement {
  width: 100%;
  margin: 10px;
}

.ui.grid {
  margin-top: .75em;
}

.columns {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}

.ui.card {
  margin-left: 1em;
  padding: .75rem;
}

.meta {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 40px;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

footer {
  width: 100%;
  height: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.segment {
  padding:0.7em ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
